[Desktop Entry]
Version=1.0
Name=OBS Studio (PRIME)
GenericName=Streaming/Recording Software
Comment=Free and Open Source Streaming/Recording Software
Exec=prime-run obs
Icon=com.obsproject.Studio
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true
StartupWMClass=obs
