## ZSH themes
#ZSH_THEME="ditatompel"

#########################################
## Administrative local mysql credential
#########################################
LOCAL_MYSQL_HOST="localhost"
LOCAL_MYSQL_USER="root"
LOCAL_MYSQL_PASS=""

## codestats
export DT_CODESTATS_API_KEY="put your CodeStats API key here"

## Screenshot
SCREENSHOT_BASE_DIR='/mnt/path/to/your/arch-ss'
SCREENSHOT_DATE_FOLDER="$(date '+%Y')/$(date '+%m')"

## Custom IPFS
# export IPFS_PATH=/mnt/hdd2/IPFS/ditatompel
